{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled selected>Select a share to sell</option>
                {% for ticker in usrTickers %}
                <option value={{ticker.ticker}}>{{ticker.ticker}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Enter number of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>



{% endblock %}
